.contenedor-all-ideas{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
// .grid-item { width: 200px; }
// .grid-item--width2 { width: 400px; }
.contenedor-all-ideas .contatiner-idea-credentials{
    width: 23.25%;
    background-color: #fff;
    height: auto;
    position: relative;
    margin: 10px 10px 10px 76px;
    padding: 10px 10px 0px 10px;
    border-radius: 4px;
    /* box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); */
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.contenedor-all-ideas .contatiner-idea-credentials .btn-seemoremessage{
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    border-top: 1px solid #ddd;
    border-radius: 0;
    padding: 5px 10px 5px 10px;
}
.container .container-link-return{
    padding: 10px 10px 10px 23px !important;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 10px;
}
.contenedor-all-ideas .contatiner-idea-credentials .btn-seemoremessage i{
    position: absolute;
    right: 10;
    color: #777;
}
.contenedor-all-ideas .contatiner-idea-credentials::before, .contenedor-all-ideas .contatiner-idea-credentials::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 14px 12px 0px;
    border-style: solid;
    border-color: transparent #fff;
    left: -14px;
    z-index: 1000;
    top: 8px;
}
.contenedor-all-ideas .contatiner-idea-credentials::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 14px 12px 0px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.125);
    left: -15.2px;
    z-index: 1000;
    top: 8px;
}
.contenedor-all-ideas .contatiner-idea-credentials .idea-message-chat-users{
    width: 100%;
    /* height: 100px; */
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: block;
    font-size: 0.8rem;
    transition: all .5s;
}
.contenedor-all-ideas .contatiner-idea-credentials .img-user-in-chat{
    position: absolute;
    top: 0;
    left: -75px;
    width: 60px;
    height: 60px;
}
.contenedor-all-ideas .contatiner-idea-credentials .img-user-in-chat img{
    width: 90%;
}
.card-columns {
    display: inline-block;
    column-count: 1;
    width: 100%;
    column-break-inside: avoid;
}
.card-columns .card {
    display: inline-flex !important;
    margin-bottom: .75rem;
}