.contenedor{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.9rem;
    line-height: 135%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contenedor .contatiner-idea-credentials{
    position: relative;
    width: 80%;
    margin: 10px;
    padding: 5px;
    background-color: #fafafa;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.45);
}
.contenedor  .container-display-reply{
    width: 100%;
    height: auto;
    padding: 5px;
    border-top: 1px dotted #ddd;
}
.contenedor  .container-display-reply h4{
    font-size: .8rem;
    font-weight: 600;
}
.contenedor .contatiner-idea-credentials::before, .contenedor .contatiner-idea-credentials::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 15px 12px 0px;
    border-style: solid;
    border-color: transparent #fafafa;
    left: -14px;
    z-index: 1000; 
    top: 8px; 
}
.contenedor .contatiner-idea-credentials::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 15px 12px 0px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.3);
    left: -15px;
    z-index: 1000; 
    top: 8px; 
}
.name-user-idea{
    color: #555;
    font-size: 0.85rem;
    padding: 0 0 7px 0;
    clear: both;
    font-weight: 600;
    display: flex;
    align-items: center;
}

//Popover
.popover{
    width: auto;
    padding: .7rem;
    right: -27px !important;
}
.popover-body{
    padding: 0;
    width: 100%;
}

/*voting style */

.list-icons-message{
    display: flex;
}

.list-icons-message .btnLikeMyHeart{
    width: auto;
    height: auto;
    position: absolute;
    right: 10px;
}
.list-icons-message .btnLikeMyHeart .contentBtnLikeMyHeart{
    position: absolute;
    right: 0;
}
.list-icons-message .btnLikeMyHeart .contentBtnLikeMyHeart li img{
    width: 1.5rem;
}
.list-icons-message .answer-message-cont,.iconLike{
    margin-right: 3px;
}
.container-btns-likes-dslike{
    position: absolute;
    width: auto;
    height: auto;
    right: 10px;
    display: flex;
    align-items: center;
}
.container-btns-likes-dslike .answer-message{
    color: #607d8b;
    font-size: .8rem;
    cursor: pointer;
}
.contatiner-idea-credentials .btn-seemoremessage .iconMoreMinus{
    position: absolute;
    right: 10;
    color: #444;
}
.container-btns-likes-dslike .iconLike{
    color: #d32f2f;
    cursor: pointer;
}
.votos {
    position: absolute;
    width: auto;
    padding: 5px;
    background-color: #fff;
    right: 0;
    border: 1px solid #eee;
    top: 1.5rem;
    list-style: none;
    border-radius: 4px;
    /* margin-bottom: 0; */
    /* top: 3px; */
    /* right: 8px; */
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.votos::before, .votos::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 12px 15px;
    border-style: solid;
    border-color: transparent #263238;
    right: -14px;
    z-index: 1000; 
    top: 5px; 
}

.votos .dw_button {
    float: left;
    height: 42px;
    width: 64px;
    cursor:pointer;
    margin:0 0 0 10px;
}


.votos .up_button {
    height: auto;
    width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
}


.up_button span{
    font-size: 0.9rem;
    font-family: 'Roboto',sans-serif, Arial;
    /* margin: 10px 0 0 37px; */
    /* display: block; */
    width: auto;
    height: auto;
    /* line-height: 22px; */
    text-align: center;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.up_button img{
    color: #333;
    width: 4.2rem;
    border-radius: 50%;
    border: 0px transparent;
}
.up_button img:hover circle{
    background-color: #f9a825;
    transition: .5s;
}

/* Configuracion y estilos del Scrollbar del chat de ideas*/

.container-chats-ideas::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.container-chats-ideas::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}
.container-chats-ideas::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.container-chats-ideas::-webkit-scrollbar-thumb:active{
    background-color: #999999;
}
.container-chats-ideas::-webkit-scrollbar-track{
    background: #e1e1e1;
    border-radius: 4px;
}
.container-chats-ideas::-webkit-scrollbar-track:hover,
.container-chats-ideas::-webkit-scrollbar-track:active{
    background: #d4d4d4;
}

.contenedor .contatiner-idea-credentials .idea-message-chat-users{
    width: 100%;
    /* height: 100px; */
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: block;
    font-size: 0.8rem;
    transition: all .5s;
}
.contenedor .contatiner-idea-credentials .btn-seemoremessage{
    display: flex;
    align-content: center;
    align-items: center;
    /* background-color: red; */
    position: relative;
    border-radius: 0;
    border-top: 1px solid #ddd;
    /* left: 0; */
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 0px;
}
.contenedor .contatiner-idea-credentials .btn-seemoremessage i{
    position: absolute;
    right: 10px;
    color: #9e9e9e;
}
.contenedor .contatiner-idea-credentials .img-user-in-chat{
    position: absolute;
    top: 0;
    left: -65px;
    width: 45px;
    height: 45px;
    display: flex;
    align-content: center;
    align-items: center;
}
.contenedor .contatiner-idea-credentials .img-user-in-chat img{
    width: 98%;
}

.activeAll{
    white-space: normal;
    transition: all .5s linear;
}