
/* Estilos de la pagina usuario administrador */

.container-g-home{
    width: 100%;
    height: auto;
    position: relative;
    
}
.container-g-home .container-chat{
    position: fixed;
    height: 100%;
    width: 23%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    z-index: 1000;
}
.container-g-home .container-chat .container-g-chat{
    background-color: #263238;
    width: 100%;
    height: 20%;
}
.container-g-home .container-chat .container-g-chat .wel{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.container-g-home .container-chat .container-g-chat::before, .container-g-home .container-chat .container-g-chat::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 12px 15px;
    border-style: solid;
    border-color: transparent #263238;
    right: -14px;
    z-index: 1000; 
    top: 5px;  
}
.container-g-home .container-chat .container-g-chat::before{
    border-width: 11px 0px 13px 16px;
    border-color: transparent rgba(0, 0, 0, 0.2);
    right: -15px;
}
.container-g-home .container-chat .container-g-chat .container-img-user{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container-g-home .container-chat .container-g-chat .container-img-user img{
    width: 71%;
    height: auto;
    position: relative;
}
.container-g-home .container-chat .container-g-chat .container-dates-user-active{
    display: flex;
    flex-direction: column;
    color: #fafafa;
    align-items: stretch;
    justify-content: center;
    font-weight: 400;
    font-size: 0.9rem;
}
.container-g-home .container-chat .container-g-chat .container-dates-user-active span{
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-g-home .container-chat .container-g-chat .container-dates-user-active .name-credentials{
    text-transform: capitalize;
    font-size: 0.8rem;
}
.container-g-home .container-chat .container-g-chat .container-dates-user-active .email-credentials{
    text-transform: lowercase;
    font-size: 0.8rem;
}

/* Contenedor del chat */

.container-g-home .container-chat .container-chats-ideas{
    background-color: #fafafa;
    position: absolute;
    width: 100%;
    height: 69.59%;
    z-index: 1001;
    overflow-y: auto;
    background-image: linear-gradient(rgba(109,76,65, 0.12), rgba(109,76,65, 0.12)),url('../img/textura/doodles.png');
    background-repeat: repeat;
}
.container-g-home .container-chat .title-chat-ideas{
    background-color: #f9fbe7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.container-g-home .container-chat .container-chats-ideas .container-all-new-chat{
    overflow-x: hidden;
}
.container-g-home .container-chat .title-chat-ideas span{
    font-weight: 600;
    font-size: 1rem;
    color: #444;
    /* text-transform: uppercase;*/
}
.container-g-home .container-chat .container-chats-ideas .list-container-chats-ideas{
    padding: 5px 5px 1px 5px;
    margin-bottom: 0;
}
.container-g-home .container-chat .container-chats-ideas .list-container-chats-ideas .content-message-chat{
    margin: 10px 5px 10px 5px;
}
.container-g-home .container-chat .container-chats-ideas .list-container-chats-ideas .content-message-chat .message-chat{
    width: 76%;
    height: auto;
    background-color: #fafafa;
    border: none;
    left: 65px;
    position: relative;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    /* font-size: 0.9rem; */
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.container-g-home .container-chat .container-chats-ideas .list-container-chats-ideas .content-message-chat .message-chat::before, .container-g-home .container-chat .container-chats-ideas .list-container-chats-ideas .content-message-chat .message-chat::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 13px 10px 0px;
    border-style: solid;
    border-color: transparent #fafafa;
    left: -12px;
    top: 10px;
    z-index: 1000;
}
.container-g-home .container-chat .container-chats-ideas .list-container-chats-ideas .content-message-chat .message-chat::before{
    border-width: 11px 13px 11px 0px;
    border-color: transparent rgba(0, 0, 0, 0.2);
    left: -13px;
    top: 10px;
}

.container-g-home .container-chat .container-chats-ideas .list-container-chats-ideas .content-message-chat .message-chat .img-user-chat{
    position: absolute;
    left: -73px;
    top: 0;
}
.container-g-home .container-chat .container-chats-ideas .list-container-chats-ideas .content-message-chat .message-chat .img-user-chat img{
    width: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.container-g-home .container-chat .container-chats-ideas .list-container-chats-ideas .content-message-chat .message-chat .title-message-chat{
    border-radius: 5px 5px 0px 0px;
}
.container-g-home .container-chat .see-all-ideas{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.5%;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-g-home .container-chat .see-all-ideas .icon-see-more-ideas i{
    font-size: 2.5rem;
    color: #263238;
}
.container-g-home .container-chat .see-all-ideas .see-all-ideas-link{
    position: absolute;
    right: 10px;
}
.container-g-home .container-chat .write-message-mobil{
    height: 14%;
    background-color: #fafafa;
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.container-g-home .container-chat .write-message-mobil .textarea .container-textarea-mobil{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-g-home .container-chat .write-message-mobil .textarea .container-textarea-mobil .title-idea-mobil{
    width: 100%;
    border-radius: 3px 3px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding-left: 10px;
    padding-right: 10px;
}
.textarea .form-control {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 39px;
    position: relative;
    border-radius: 0px 0px 3px 3px;
    border-top: 0;
}

// Harol

.container-g-home .container-board-home{
    width: 77%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.container-g-home .container-board-home .section-write-ideas{
    padding-top: 20px;
    padding-bottom: 12px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.container-g-home .container-board-home .section-write-ideas .container-idea-general .group-message-send{
    flex-wrap: nowrap;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
}
.container-g-home .container-board-home .section-write-ideas .container-idea-general .group-message-send .form-New-Message{
    width: 100%;
    display: flex;
}
.container-g-home .container-board-home .section-write-ideas .container-idea-general .group-message-send .input-group-text{
    padding: 0;
    background-color: #212943;
    border-radius: 0px 2px 2px 0px;
    border-color: #212943;
}
.container-g-home .container-board-home .section-write-ideas .container-idea-general .group-message-send .input-group-text:hover{
    background-color: #f5925d;
    border-color: #f5925d;
}
.container-g-home .container-board-home .section-write-ideas .container-idea-general .group-message-send .input-group-text button i{
    color: #fafafa;
    font-size: 1.5rem;
}
.container-g-home .container-board-home .section-write-ideas .container-idea-general .group-message-send  .space-whrite-idea{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 45px;
    border: 0.5px solid #888;
    border-radius: 3px 0px 0px 3px;
}
.container-g-home .container-board-home .container-ideas{
    width: 100%;
    height: auto;
}
.container-g-home .container-board-home .container-ideas .container-write-idea  .container-idea-general{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: left;
}
.container-g-home .container-board-home .container-ideas .container-write-idea  .container-idea-general .container-write-idea-board{
    width: 80%;
    padding: 0;
}
.container-g-home .container-board-home .container-ideas .container-write-idea  .container-idea-general .container-title-idea .title-idea{
    border-radius: 3px 3px 0px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    padding: 0px 10px 0px 10px;
    background-color: #fafafa;
    height: 30px;
}
.container-g-home .container-board-home .container-ideas .container-write-idea  .container-idea-general .container-title-idea{
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow:    inset 0 0 10px #000000;
    // -webkit-box-shadow: inset 0 0 10px #000000;
    // box-shadow:         inset 0 0 10px #000000;
    background-color: #fafafa;
    position: relative;
    padding: 0;
    right: 5px;
}
.container-g-home .container-board-home .container-ideas .container-write-idea  .container-idea-general .container-title-idea::before, .container-g-home .container-board-home .container-ideas .container-write-idea  .container-idea-general .container-title-idea::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 12px 15px;
    border-style: solid;
    border-color: transparent #fafafa;
    top: 4px;
    right: -14px;
    z-index: 1000;
}
.container-g-home .container-board-home .container-ideas .container-write-idea  .container-idea-general .container-title-idea::before{
    border-width: 11px 0px 13px 15px;
    border-color: transparent rgba(0, 0, 0, 0.2);
    right: -16px;
}
.container-g-home .container-board-home .container-ideas .container-write-idea .space-whrite-idea {
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: transparent;
}

.container-g-home .container-board-home .container-ideas .container-write-idea  .container-idea-general .plus-add-idea{
    font-size: 2.5rem;
    color: #263238;
    position: absolute;
    top: 0;
}
.container-g-home .container-board-home .container-ideas .container-write-idea  .container-idea-general .btn-plus-idea{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: #f2f2f2;
}
.container-g-home .container-board-home .container-ideas .container-btn-logout{
    position: relative;
    width: auto;
    height: auto;
}
.container-g-home .container-board-home .container-ideas .logout-icon{
    font-size: 1.8rem;
    color: #555;
    cursor: pointer;
}
.container-g-home .container-board-home .container-ideas .logout-icon:hover{
    color: #f5925d;
    transition: 0.5s;
}
.container-g-home .container-board-home .container-ideas .logout-icon:hover .btn-logout{
    display: block !important;
}
.active{
    display: block;
}
.container-g-home .container-board-home .container-ideas .btn-logout{
    position: absolute;
    top: 60px;
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    width: 80px;
    height: 38px;
}
.container-g-home .container-board-home .container-ideas .btn-logout .btn-i-logout{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    border: .3px solid rgba(0, 0, 0, 0.125);
}

.container-g-home .container-board-home .container-ideas .btn-logout{
    display: none;
    position: absolute;
    top: 7px;
    right: 80px;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    padding: 0;
}

.container-g-home .container-board-home .container-ideas .btn-logout::before, .container-g-home .container-board-home .container-ideas .btn-logout::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 12px 15px;
    border-style: solid;
    border-color: transparent #fafafa;
    right: -14px;
    z-index: 999; 
    top: 6px; 
}
.container-g-home .container-board-home .container-ideas .btn-logout::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 0px 12px 15px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.255);
    right: -15px;
    z-index: 999;
    top: 6px;
}

// Configuracion estilos CSS Grid de las post it

/* Configuracion estilos CSS Grid de las post it */

.container-g-home .container-board-home .section-post{
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 1px;
}

.box{
    display: flex;
    flex-direction: column;
    
}
.box-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 40px 0px 40px 0px;
}
.box-links .link-i-finish{
    padding: 20px 10px 20px 10px;
}
.box-links .link-i-dead{
    padding: 20px 10px 20px 10px; 
}
.container-g-home .container-board-home .container-post-it .row{
    margin-left: 0;
    margin-right: 0;
}
.container-g-home .container-board-home .container-post-it .row-post .container-box-post{
    padding: 0;
}
.container-g-home .container-board-home .container-post-it .row-post .container-box-post .title-cards-idea{
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #777;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.container-g-home .container-board-home .section-ideas-df{
    padding-bottom: 0px;
}
// .container-g-home .container-board-home .container-i-df{
//     margin: 0;
//     padding: 0;
// }
.container-g-home .container-board-home .container-i-df .box-links-i{
    padding: 0;
}
.container-g-home .container-board-home .container-i-df .box-links-i .i-id-board{
    padding: 13px 10px 13px 10px;
    width: 50%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    text-align: center;
} 

.container-g-home .container-board-home .container-i-df .box-links-i .i-finish{
    background-color: #263238;
    position: relative;
    left: 12px;
}
.container-g-home .container-board-home .container-i-df .box-links-i .i-finish::before, .container-g-home .container-board-home .container-i-df .box-links-i .i-finish::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 13px 10px 0px;
    border-style: solid;
    border-color: transparent #263238;
    left: -12px;
    z-index: 999; 
    top: 5px; 
}
.container-g-home .container-board-home .container-i-df .box-links-i .i-finish::before{
    border-width: 11px 13px 11px 0px;
    border-color: transparent rgba(0, 0, 0, 0.2);
    left: -13px;
}
.container-g-home .container-board-home .container-i-df .box-links-i .i-finish a{
    color: #ffffff;
    font-size: 0.8rem;
}
.container-g-home .container-board-home .container-i-df .box-links-i .i-dead{
    background-color: #263238;
    position: absolute;
    right: 0px;
    
}
.container-g-home .container-board-home .container-i-df .box-links-i .i-dead::before, .container-g-home .container-board-home .container-i-df .box-links-i .i-dead::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 13px 10px 0px;
    border-style: solid;
    border-color: transparent #263238;
    left: -12px;
    z-index: 999; 
    top: 5px;
}
.container-g-home .container-board-home .container-i-df .box-links-i .i-dead::before{
    border-width: 11px 13px 11px 0px;
    border-color: transparent rgba(0, 0, 0, 0.2);
    left: -13px;
}
.container-g-home .container-board-home .container-i-df  .box-links-i .i-dead a{
    color: #ffffff;
    font-size: 0.8rem;
}
.container-g-home .container-board-home .container-i-df .link-i-dead{
    position: relative;
}

/* Notas destacadas*/

.container-g-home .container-post-it .box-cards{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    /* padding-top: 15px; */
    margin-bottom: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.container-g-home .container-post-it .box-cards .owl-cards{
    height: 166px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.container-g-home .container-post-it .box-cards .owl-carousel.owl-drag .active{
    margin-right: 4px;
}
.container-g-home .container-post-it .box-cards .owl-cards .item-cards{
    width: 160px;
    height: 130px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    position: relative;
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container-g-home .container-post-it .box-cards .owl-cards .item-cards .idea-message-chat-users{
    display: block;
    padding: 5px 8px 5px 8px;
    font-size: .8rem;
    color: #555;
    cursor: pointer;
}
.container-g-home .container-post-it .box-cards .owl-cards .item-cards .item-card-idea{
    width: 25px;
    height: 31px;
    padding: 0;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.container-g-home .container-post-it .box-cards .owl-cards .item-cards .item-card-idea span{
        /* position: absolute; */
    /* right: 5.8px; */
    font-size: .8rem;
    /* top: 4px; */
    font-weight: 600;
    color: #ef5350;
    /* float: right; */
    /* margin-right: 7px; */
    /* margin-top: 4px; */
    /* display: flex; */
    /* width: 18px; */
    /* height: 27px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* text-align: center; */
}
.container-g-home .container-post-it .box-cards .owl-cards .card-postuled{
    background-color: #f9fbe7;
}
.container-g-home .container-post-it .box-cards .owl-cards .card-pas-umbral{
    background-color: #f0f4c3; 
}
.container-g-home .container-post-it .box-cards .owl-cards .card-aproved{
    background-color: #e6ee9c;
}
.container-g-home .container-post-it .box-cards .owl-cards .item-cards .item-card-idea .liston{
    position: absolute;
    right: -9px;
    top: -6px;
    font-size: 2.7rem;
    padding: 0;
    color: #ef5350;
}
.container-g-home .container-post-it .box-cards .owl-cards .item-cards .btn-item-card{
    position: absolute;
    bottom: 0;
    background-color: #fefefa;
    border-radius: 0px 0px 3px 3px;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.9rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.container-g-home .container-post-it .box-cards .owl-cards .item-cards .btn-item-card:hover{
    background-color: #f9fbe7;
    color: #555;
    transition: .5s;
}
.container-g-home .container-post-it .box-cards .owl-carousel .owl-stage-outer{
    width: 100%;
    padding-top: 10px;
}
.container-g-home .container-post-it .box-cards .owl-carousel .owl-nav{
    display: flex;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.425);
    align-items: center;
    margin-bottom: 35px;
}

.container-g-home .container-post-it .box-cards .owl-carousel .owl-nav .owl-prev:hover{
    background-color: transparent;
    color: #e6ee9c;
    transition: .5s;
}
.container-g-home .container-post-it .box-cards .owl-carousel .owl-nav .owl-next:hover{
    background-color: transparent;
    color: #e6ee9c;
    transition: .5s;
}
.container-g-home .container-post-it .box-cards .owl-carousel .owl-nav .owl-prev{
    pointer-events: all;
    position: absolute;
    left: 0px;
}
.container-g-home .container-post-it .box-cards .owl-carousel .owl-nav .owl-next{
    pointer-events: all;
    position: absolute;
    right: 0px;
}

.column-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}



/* Footer */

.container-g-home .container-board-home .section-footer{
    position: relative;   
} 
.container-g-home .container-board-home .section-footer .container-footer{
    padding: 0px 80px 5px 80px;
} 
.container-g-home .container-board-home .section-footer .container-footer .footer-dates-copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Modal
.modal-section{
    display:  none;
}
