.container .all-Ideas-All-User{
    position: relative;
    
}
.container .all-Ideas-All-User .container-idea{
    display: flex;

}
.container .all-Ideas-All-User .container-idea .idea-show-all{
    width: 200px;
    height: 100px;
}